# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.env

# Environment
venv/
env/
ENV/

# Flask
instance/
*.sqlite

# VS Code
.vscode/

# Docker
*.log
docker-compose.override.yml

# Node
node_modules/

# Backup files
*.bak
*.swp

# macOS
.DS_Store

# Windows
Thumbs.db