<div class="ctickets">
    <h1 class="title">
        Criar Nova Categoria:
    </h1>
    <form method="post" enctype="multipart/form-data">
        <input type="text" name="cat" class="form-control tcad" placeholder="Categoria">
        <input type="text" name="sub" class="form-control tcad" placeholder="Sub Categoria">
        
        <div class="input-group-append input">
            <button class="btn btn-primary" type="submit" formaction="/create_cat">Enviar</button>
        </div>
    </form>
    
</div>
